{% extends 'core/base.html' %}

{% block title%}Contacto{% endblock%}

{% block background %}{% load static %}{% static 'core/img/contact.jpg' %}{% endblock%}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Comunicate con nosotros</span>
{% endblock %}

{% block content%}
    <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <br>
        <p><b>Teléfono:</b> 2464067</p>
        <p><b>Dirección:</b> 5 de Abril 985-oficina 3. Chillán</p>
    </div>
</div>
{% endblock%}