{% extends 'core/base.html' %}


{% block title%}Sobre{% endblock%}

{% block background %}{% load static %}{% static 'core/img/vision.jpg' %}{% endblock%}

{% block headers %}
<h1>Visión</h1>
{% endblock %}

{% block content%}
<div class="row">
     <div class="col-lg-8 col-md-10 mx-auto"></div>
     <!--<div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        -->
    </div>
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>    Deseamos convertirnos en colaboradores confiables de nuestros clientes, que cada obra encomendada cumpla y en lo posible supere sus expectativas, de manera que se sienta satisfecho y dispuesto a confiarnos el desarrollo de sus nuevos  proyectos.

            Con ello queremos lograr a través de los años liderar un posicionamiento importante en la región  en el mercado de la construcción, montajes y ejecución de  obras civiles.</p>

    </div>
</div>
{% endblock%}